body {
    font-family: 'Open Sans', sans-serif;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.card-body {
    padding: 5px;
}

a.video-title {
    font-size: 20px;
    text-decoration: none;
    color: #212529;
    font-weight: 500;
    text-align: left;
}

video.video-item {
    width: 100%;
    background: #000;
    min-height: 250px;
    height: 320px;
}
video::-webkit-media-controls {
    display: none;
}

video::-webkit-media-controls-play-button {
    display: none;
}

video::-webkit-media-controls-volume-slider-container {
    display: none;
}

video::-webkit-media-controls-volume-slider {
    display: none;
}

video::-webkit-media-controls-mute-button {
    display: none;
}

video::-webkit-media-controls-timeline {
    display: block;
    border: 1px solid orange;
    width: 100%;
    margin-top: -26px;
    margin-left: 30px;
    margin-right: 100px;
    width: 260px;
}

div.menu-right ul {
    margin: 0px;
    padding: 0px;
    background: #212529;
}


div.menu-right ul li {
    list-style: none;
}

div.menu-right h3 {
    background: #5c7ea6;
    margin-bottom: 0px;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    color: #FFF;
    text-indent: 5px;
}


div.menu-right ul li a {
    display: block;
    color: #FFF;
    text-indent: 5px;
    border-bottom: 1px solid #ddd;
    line-height: 32px;
    height: 32px;
}

div.menu-right ul li a:hover {
    text-decoration: none;
    background: #18191b;
}

ul.pagination {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 55px;
}

ul.pagination li:first-child {
    width: 100px;
    position: absolute;
    left: 0px;
    text-align: center;
    font-size: 22px;
}

ul.pagination li:last-child {
    width: 100px;
    position: absolute;
    right: 0px;
    text-align: center;
    font-size: 22px;
}

/*
video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); 
}



video::-webkit-full-page-media::-webkit-media-controls-panel {
    display: none;
}

video::-webkit-media-controls-timeline-container {
    display: none;
}

video::-webkit-media-controls-time-remaining-display {
    display: none;
}

video::-webkit-media-controls-seek-back-button {
    display: none;
}

video::-webkit-media-controls-seek-forward-button {
    display: none;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

video::-webkit-media-controls-rewind-button {
    display: none;
}

video::-webkit-media-controls-return-to-realtime-button {
    display: none;
}

video::-webkit-media-controls-toggle-closed-captions-button {
    display: none;
}
*/

video::-webkit-media-controls-current-time-display {
    display: block;
}

.col-md-4 {
    /* padding-right: 0px;
    padding-left: 0px; */
}

.fa-play:before {
    content: "\f04b";
    font-size: 40px;
    cursor: pointer;
    color: #FFF;
    border: 4px solid #FFF;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    line-height: 74px;
    text-align: center;
    padding-left: 6px;
    position: absolute;
}

.video-info {
    width: 100%;
    height: auto;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

span.user-action, span.sharing-group {
    /*border: 1px rgba(0,0,0,.075) solid;*/
    padding: 0px 3px 0px 3px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 3px;
    text-align: center;
    height: 35px;
    width: 58px;
}

span.sharing-group {
    width: 50px;
    line-height: 35px;
    margin-right: 0px;
}

span.sharing-group i.fa-comments {
    font-size: 22px;
    margin-top: 5px;
}

i:hover {
    cursor: pointer;
}

span.user-action i.icon-upvote, span.user-action i.icon-downvote {
    height: 20px;
    width: 19px !important;
    display: inline-block;
    background: url(../images/icn-sheet.png) no-repeat;
    background-size: 203px;
    float: left;
    margin-top: 10px;
}

span.user-action i.icon-downvote {
    background-position: -19px 0px;
}

span.user-action span.number {
    display: block;
    margin-left: 0px;
    float: left;
}

span.user-action i.view-number {
    font-size: 16px;
    margin-right: 2px;
}

span.user-action:hover i.icon-color{
    color: #eb6420;
}

.sharing-icon {
    font-size: 40px;
    margin-top: 0px;
    margin-right: 6px;
    cursor: pointer;
}

div.tags {
    margin-top: 15px;
    line-height: 30px;
}

div.tags a {
        /* border: 1px rgba(0,0,0,.075) solid; */
    padding: 3px;
    border-radius: 3px;
    font-size: 12px;
    text-decoration: none;
    color: #222;
    background: #eef4fb78;
    /* margin-bottom: 5px; */
    display: inline-block;
    line-height: 11px;
}

div.tags a:hover {
    background: #f1f1f1;
}


div.categories-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 5px;
}

div.category-item {
    margin: 5px 5px 5px 0px;
    padding: 8px;
    border-radius: 3px;
    background: #00B4FF;
}

div.category-item:hover {
    background: #343a40;
}

div.category-item a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

/**Detail**/
h3.detail-page-title, h3.detail-page-title a {
    font-size: 16px;
    text-decoration: none;
    line-height: 25px;
    display: block;
    color: #343a40;
    padding-top: 13px;
}

.pt-5, .py-5 {
    padding-top: 0px !important;
}

.video-detail video {
    height: 410px;
}

.video-detail .fa-play:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-detail div.video-play p.card-text {
    padding-top: 5px !important;
}

.view-icon {
    margin-right: 5px !important;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

div.menu-sidebar {
    position: relative;
}

.menu-sidebar {
    border: 1px solid #f1f1f1;
    width: 350px;
    background: #fff;
    height: auto;
}

.menu-sidebar h3 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 36px;
    margin-bottom: 0px;
    text-indent: 15px;
    background: #343a40;
    color: #FFF;
}

.menu-sidebar ul {
    margin: 0px;
    padding: 0px;
}

.menu-sidebar ul li {
    list-style: none;
}

.menu-sidebar ul a {
    display: block;
    border-bottom: 1px solid #f1f1f1;
    line-height: 36px;
    color: #343a40;
    font-weight: 400;
    text-indent: 5px;
}

.menu-sidebar ul a:hover {
    background: #00B4FF;
    text-decoration: none;
    color: #FFF;
}

div.video-play p.card-text {
    margin: 0px 5px !important;
    margin-bottom: 0px !important;
}

div.video-play p.card-text a {
    line-height: 25px;
    display: block;
    padding-bottom: 0px;
    font-size: 17px;
    font-weight: bold;
}

div.video-play p.card-text a:hover {
    color: #00B4FF;
    cursor: pointer;
}

.category-list {
    padding: 5px 0px;
}

.social-share {
    background: #4267b2;
}

.video-detail span.social-share {
    width: 100px;
    margin-right: 3px;
    color: #FFF;
    height: 30px;
    margin-top: 2px;
    display: block;
    float: left;
    line-height: 28px;
}

.video-detail span.sharing-group i.icon-social {
    height: 20px;
    width: 20px !important;
    display: inline-block;
    background: url(../images/icn-sheet.png) no-repeat;
    background-size: 195px;
    float: left;
    margin-top: 8px;
    background-position: 2px -36px;
}

i.fa-share-alt {
    font-size: 20px;
    margin-top: 7px;
}

.social-share-group {
    float: right;
    margin-left: 120px;
    position: absolute;
    right: 0px;
}

span.pinterest {
    background: #bd081c;
}

span.twitter {
    background: #09f;
}

a.tab {
    font-size: 15px;
    color: #343a40;
    text-decoration: none;
    padding: 8px 5px;
}

.video-description {
    height: auto;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    font-size: 13px;
}

.video-description img {
    width: 100%;
}

span.more-less {
    position: absolute;
    bottom: 3px;
    right: 20px;
    background: #fff;
    padding-left: 10px;
    font-weight: bold;
}

span.sound {
    background: url(../images/sprite.png) no-repeat;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    left: 5px;
    bottom: 5px;
}

span.sound-on {
    background-position: -549px -110px;
}

span.sound-off {
    background-position: -490px -110px;
}

div.adsense {
    text-align: center;
}

div.adsense img {
    max-width: 100%;
    max-height: 300px;
}

/**Menu Ngang**/

div.scrollmenu {
  background-color: #272a2d;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

footer {
    background: #343a40!important;
    height: 32px;
    display: block;
    width: 100%;
}

footer a {
    color: #FFF;
}

footer a:hover {
    color: #FFF;
    text-decoration: none;
}

div.ajax-render {
    background: #000;
}

div.ajax-render video.video-poster {
    max-width: 320px;
}

.video-js {
    width: 100% !important;
    height: 350px !important;
}

.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
   display: block;
}

.video-js .vjs-big-play-button {
    top: 40% !important;
    left: 40% !important;
}

img.img-thumb {
    width: 100%;
}

a.video-title {
    line-height: 25px;
    display: block;
    padding-bottom: 0px;
    padding-left: 5px;
    font-size: 17px;
    font-weight: bold;
}

/** iPhone X in portrait & landscape **/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .video-grid {
        padding-left: 0px;
        padding-right: 0px;
        border-radius: none;
    }

    .card {
        border-radius: 0px;
        border: 0px;
    }
    
    .social-share-group {
        margin-left: 0px;
        position: absolute;
        right: 0px;
    };

    .sharing-group {
        width: 35px;
        font-size: '15px;
    };

    .sharing-group i {
        margin-top: 5px;
    }

    .social-share span {
        display: none;
    }

    video {
        max-height: 300px;
    }

    .social-share-group {
        margin-left: 0px;
        display: flex;
        position: absolute;
        right: 0px;
    }

    .video-detail span.social-share {
        width: 40px;
        height: 28px;
    }

    .social-share-group i {
        line-height: 28px;
    }

    .btn-group, .btn-group-vertical {
        width: 100%;
        display: flex;
    }

  
}

/** iPhone 6, 7, & 8 in portrait & landscape **/

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .video-grid {
        padding-left: 0px;
        padding-right: 0px;
        border-radius: none;
    }

    .card {
        border-radius: 0px;
        border: 0px;
    }
    
    .social-share-group {
        margin-left: 0px;
        position: absolute;
        right: 0px;
    };

    .sharing-group {
        width: 35px;
        font-size: 15px;
    };

    .sharing-group i {
        margin-top: 5px;
    }

    .social-share span {
        display: none;
    }

    video {
        max-height: 300px;
    }

    .social-share-group {
        margin-left: 0px;
        display: flex;
        position: absolute;
        right: 0px;
    }

    .video-detail span.social-share {
        width: 40px;
        height: 28px;
    }

    .social-share-group i {
        line-height: 28px;
    }

    span.user-action, span.sharing-group {
        
    }

    .btn-group, .btn-group-vertical {
        width: 100%;
        display: flex;
    }
}

@media only screen 
   and (min-width : 320px) {
    .video-grid {
        padding-left: 0px;
        padding-right: 0px;
        border-radius: none;
    }

    .card {
        border-radius: 0px;
        border: 0px;
    }
    
    .social-share-group {
        margin-left: 0px;
    };

    .sharing-group {
        width: 35px;
        font-size: 15px;
    };

    .sharing-group i {
        margin-top: 5px;
    }

    .social-share span {
        display: none;
    }

    video {
        max-height: 300px;
    }

    .social-share-group {
        margin-left: 0px;
        display: flex;
        position: absolute;
        right: 0px;
    }

    .video-detail span.social-share {
        width: 40px;
        height: 28px;
    }

    .social-share-group i {
        line-height: 28px;
    }

    span.user-action, span.sharing-group {
        
    }

    .btn-group, .btn-group-vertical {
        width: 100%;
        display: flex; 
    }
}

@media (min-width:1281px) {
    .video-detail span.social-share {
        width: 100px;
    }

    .social-share-group {
        position: absolute;
        right: 0px;
    }
}

.less-more {
    height: 50px;
}

span.less-more-btn {
    font-size: 13px;
    text-align: center;
    display: block;
}